<form action="Login" method="post">
	<input type="text" name="name" value="" placeholder="Stef" />
	<input type="password" name="pass" value="" placeholder="4440" />
	<input type="submit" name="q" value="registrrrrrr" />
</form>
@if(ViewBag.Name){
	<br />
	<a href="@Url.Action("Reset","Home",new{})" class="butto4">
		Log of
	</a>
}