@model cREATEuSERModel

<form action="MakeUser" method="post">
	<label asp-for="Name">Name</label>
	<input type="text" name="Name" />
	<br />
	<label asp-for="Email">emil</label>
	<input type="text" name="Email" />
	<input type="submit" value="CLICK" />
</form>
