<form action="Register" method="post">
	<input type="text" name="name" value="" placeholder="Stef"/>
	<input type="password" name="passw" value="" placeholder="4440"/>
	<input type="email" name="emil" value="" placeholder="ja@dont.com"/>
	<input type="submit" name="q" value="registrrrrrr" />
</form>
