@model Useri

<form asp-controller="Uloga" asp-action="U10">
	<label for="Name">name</label>
	<input type="text" name="Name" required /><br />

	<label for="Email">email</label>
	<input type="text" name="Email" required /> <br />

	<label for="City">city</label>
	<input type="text" name="City" required /> <br />

	<label for="Pass">pass</label>
	<input type="text" name="Pass" required /> <br />

	<label for="Uname">Uname</label>
	<input type="text" name="Uname" required /> <br />

	<label for="Age">age</label>
	<input type="number" name="Age"  required/>
	<input type="submit" value="submit" />
</form>


