<div class="bor borR pad15 cent op mar25" id="b1">
	<p>text:<b id="k1">0</b></p>
	<button onclick="ClicToB(1)">klik</button>
</div>
<div class="bor borR pad15 cent op mar25" id="b2">
	<p>text:<b id="k2">0</b></p>
	<button onclick="ClicToB(2)">klik</button>
</div>