<div class="box">

@for(var i =1; i<10;i++){
	<div class="shadow pad15 cent op">
		<img src="/img/Wallpaper.jpg" alt="profile img" class="round small" />
		<h3>Stefan @i</h3>
		<p>computer disposal</p>
		<a href="/" class="butto2">home</a>
	</div>
}
</div>