<h3>message, min:20</h3>
<textarea id="t1" oninput="cont()"></textarea>
<p id="am1">0</p>
<h1>uloha9</h1>
<button onclick="giveJ(1)">aa</button>
<p id="out1"></p>
<button onclick="giveJ(2)">a2</button>
<p id="out2"></p>